/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url('/assets/img/bookpage.jpg');
}

div.container {
	width:85%;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #c2c2c2;
}

@media (max-width: 767px) {
  h2 {
    font-size:24.5px;
  }

  body {
    margin-bottom: 40px;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url('/assets/img/bookpage.jpg');
  }

  div.container {
    width:95%;
  }

  p.summary {
    display:none !important;
  }

}






